﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column gap-5">
    <h1 class="display-3">Dar de baja articulos</h1>
    <div class="d-flex w-25 gap-3">
        <label class="form-label"></label>
        <input type="text" id="buscarTxt" class="form-control">
        <button class="btn btn-primary" onclick="filtrar()">Buscar</button>
    </div>
    <div class="table-responsive" id="table">
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/index.js"></script>