@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="display-5">Dar de baja al articulo</h1>
    <div class="d-flex flex-column gap-3 w-50">
        <div class="row align-items-center">
            <label class="col form-label">Código:</label>
            <input type="text" id="codigo" readonly class="col form-control" value="@ViewBag.codigo" />
        </div>
        <div class="row align-items-center">
            <label class="col form-label">Nombre del Artículo:</label>
            <input type="text" id="nombre" readonly class="form-control col" />
        </div>
        <div class="row align-items-center">
            <label class="col form-label">U. Medida:</label>
            <input type="text" id="medida" readonly class="form-control col" />
        </div>
        <div class="row align-items-center">
            <label class="col form-label">Precio:</label>
            <input type="text" id="precio" readonly class="form-control col" />
        </div>
        <div class="row align-items-center">
            <label class="col form-label">Stock:</label>
            <input type="text" id="stock" readonly class="form-control col" />
        </div>
        <div class="d-flex">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.independentmediators.co.uk%2Fwp-content%2Fuploads%2F2016%2F02%2Fplaceholder-image.jpg&f=1&nofb=1&ipt=fef39368583b2aa7227f58bf2f32102945885d9f6e9c439fbaa1ac5f9443d6ff&ipo=images" id="imagen" class="img-fluid mx-auto" width="200px" alt="Producto.png">
        </div>
        <div class="d-flex gap-4">
            <a href="/DarBaja/Bajar/@ViewBag.codigo" class="btn btn-danger" >Dar de baja</a>
            <a href="/" class="btn btn-warning" >Regresar</a>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/darbaja.js"></script>